@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

:root {
  --color-primary: #1F4E79;
  --color-primary-dark: #163A5F;
  --color-secondary: #ffffff;
  --color-accent: #6B7280;
}

body {
  cursor: url("/public/cursor/tinyblue.png") 16 16, auto !important;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}